.button{
    background-color: Transparent;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  #check {
      margin: 10px;
  }

  #result {
      position: absolute;
      top: 30%;
      margin-left: 32%;
      text-align: center;
  }

  a {
      font-size:130%;
      color:white;
      text-decoration:none;
  }

  input, label {
    display:block;
  }

  body {
      font-family:sans-serif;
      color:white;
      background: url('/res/background.jpg');
      background-attachment: fixed;
      overflow: hidden;
      background-size: cover;
      height:100%;
      background-repeat:no-repeat;
      background-position:0px,0px
  }	

#everything {
    text-align:center;
    margin:auto;
}

#controls {
    position: absolute;
    top: calc(50% - 275px);
    left: calc(5%);
    height: 600px;
    width: 300px;
    display: block;
    border:5px solid white;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#chat {
    position: absolute;
    top: calc(50% - 275px);
    right: calc(0%);
    height: 600px;
    width: 400px;
    display: block;
    border: 5px solid white;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#fps-box {    
    border-bottom-right-radius: 5px;
    padding: 0px 5px 5px 0px;
    font-family: monospace;
    font-size: 10px;
    text-align: left;
    color: black;
    position: absolute;
    max-height: 10px;
    background-color: white;
    z-index: 489;
    margin: 0 0;
}

#reset_map {
    border-top-left-radius: 5px;
    padding: 2px 2px 2px 2px;
    font-family: monospace;
    font-size: 12px;
    text-align: right;
    color: black;
    background-color: white;
    z-index: 489;
    margin: 0 0;

    position:absolute;
    bottom:0px;
    right:0px;
}

#map {
    position: absolute;
    top: calc(50% - 275px);
    left: calc(50% - 300px);
    height: 600px;
    width: 600px;
    max-height: 600px;
    max-width: 600px;
    margin: auto;
    display: block;
    border:5px solid white;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#map::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

table { border-collapse: collapse; }
#trA:nth-child(4) { border: solid thin; }
#trA:nth-child(6) { border-top: double; }
#trA:nth-child(7) { border-top: solid;  }

#trB:nth-child(4) { border: solid thin; }

#trC:nth-child(3) { border: solid thin; }
