.button{
    background-color: Transparent;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  #check {
      margin: 10px;
  }

  #result {
      position: absolute;
      top: 30%;
      margin-left: 32%;
      text-align: center;
  }

  a {
      font-size:130%;
      color:white;
      text-decoration:none;
  }

  input, label {
    display:block;
  }

  body {
      font-family:sans-serif;
      color:white;
      background: url('/res/background.jpg');
      background-attachment: fixed;
      overflow: hidden;
      background-size: cover;
      height:100%;
      background-repeat:no-repeat;
      background-position:0px,0px
  }	

#everything {
    text-align:center;
    margin:auto;
}

#controls {
    position: absolute;
    top: calc(50% - 275px);
    left: calc(5%);
    height: 600px;
    width: 300px;
    display: block;
    border:5px solid white;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#map {
    position: absolute;
    top: calc(50% - 275px);
    left: calc(50% - 300px);
    height: 600px;
    width: 600px;
    max-height: 600px;
    max-width: 600px;
    margin: auto;
    display: block;
    border:5px solid white;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#map::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.pixijs{
    margin: auto;
}