#preloader_loader {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 200px;
    height: 200px;
    animation: spin 0.8s ease infinite alternate;
    background-color:  rgb(0,0,0,1);
    z-index: 999;
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(0,0,0,1);
    z-index: 999;
}

@keyframes spin {
    0%	 { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}