		.collapsible, .button{
		  background-color: Transparent;
		  color: white;
		  cursor: pointer;
		  width: 100%;
		  border: none;
		  text-align: left;
		  outline: none;
		  font-size: 15px;
		}

		#check {
			margin: 10px;
		}

		#result {
			position: absolute;
			top: 30%;
			margin-left: 32%;
			text-align: center;
		}

		.active {
		  padding: 10px;
		  background-color: rgb(0,0,0,0.5);
		}
		
		a {
			font-size:130%;
			color:white;
			text-decoration:none;
		}

		input, label {
    	  display:block;
		}

		.content {
		  position: relative;
		  background-color: rgb(0,0,0,0.5);
		  padding: 0 16px;
		  padding-top: 0px;
		  overflow: hidden;
		  max-height: 0;
		  transition: max-height 0.5s ease;
		}

		.loader {
			position: absolute;
			top: -8px;
			border: 5px solid #f3f3f3;
			border-radius: 50%;
			border-top: 5px solid #3498db;
			width: 25px;
			height: 25px;
			animation: spin 0.3s linear infinite;
		}

		@keyframes spin {
			0%	 { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}

		body {
			overflow:hidden;
			font-family:sans-serif;
			color:white;
			background: url('/res/background.jpg');
			background-size: cover;
			height:125%;
			background-repeat:no-repeat;
			background-position:0px,0px
		}	