		.button{
		  background-color: Transparent;
		  color: white;
		  cursor: pointer;
		  width: 100%;
		  border: none;
		  text-align: left;
		  outline: none;
		  font-size: 15px;
		}

		#check {
			margin: 10px;
		}

		#result {
			position: absolute;
			top: 30%;
			margin-left: 32%;
			text-align: center;
		}

		a {
			font-size:130%;
			color:white;
			text-decoration:none;
		}

		input, label {
    	  display:block;
		}

		body {
			overflow:hidden;
			font-family:sans-serif;
			color:white;
			background: url('/res/background.jpg');
			background-size: cover;
			height:125%;
			background-repeat:no-repeat;
			background-position:0px,0px
		}	